.moviesSection {
    margin: 36 24 24 24;
    justify-content: space-around;

  }
  
  .title {
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: -1px;
  }
  
  .movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* repeat(3, minmax(180px, 1fr)); */
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    gap: 32px;
    margin-top: 24px;
    justify-items: center;
  }

  .courseTitle {
    text-align: center;
    margin-top: 24px;
    font-size: 1em;
  }

  .courseDescription {
    text-align: center;
    margin-top: 18px;
    font-size: 1em;
  }
  
  .movie {
    overflow: hidden;
    border-radius: 3px;
    margin-top: 24px;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(53, 138, 53, 0.5);
    transition: transform 0.3s ease;
    display: flex;
  }
  
  .movie:hover {
    z-index: 9;
    transform: scale(1.01);
  }
  
  .playButton {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }

    .playButton:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

    .actionButtons {
        display: block;
        gap: 12px;
        text-align: center;
        margin-top: 1.1em;
        margin-bottom: 1em;
      }