/* Add the following to your existing CSS file */

.playButton {
    display: inline-block;
    padding: 0.5em 1.4em; /* Increase padding */
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.3em; /* Increase border-radius */
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #4a62cb;
    text-align: center;
    transition: all 0.2s;
    border: 0.1em solid #CBB34A;
    background-color: #CBB34A;
  }
  
  .playButton:hover {
    color: #CBB34A;
    background-color: #FFFFFF;
    border-color: #CBB34A;
  }
  
  .landing {
    text-align: center;
    margin: 1.2em 2.2em 2.2em 1.3em;
  }

/* Update these classes in your existing CSS file */

.courseTitleLanding {
    font-size: 2.0em;
    font-weight: bold;
    color: #CBB34A;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
    padding-bottom: 10px;
  }
  
  .courseTitleLanding::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #CBB34A;
    border-radius: 3px;
  }
  
  .introductionParagraph {
    font-size: 18px;
    line-height: 1.6;
    color: #ccc;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 12px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(203, 179, 74, 0.25);
  }
  
  .chapterList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(203, 179, 74, 0.25);
  }

  .chapterList ul li {
    list-style-type: none;
    padding-left: 0;
  }
  
  .chapterItem {
    font-size: 1.1em;
    font-weight: 600;
    color: #CBB34A;
    margin-bottom: 16px;
    padding-left: 10px;
    position: relative;
    list-style-type: none;
  }
  
  .chapterItem::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: #CBB34A;
    border-radius: 50%;
  }
  
  
  /* Add these classes to your existing CSS file */

.backToCourses {
    display: inline-block;
    padding: 0.5em 1.4em;
    margin: 0.3em 0.3em;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    border: 0.1em solid #CBB34A;
    background-color: transparent;
  }
  
  .backToCourses:hover {
    color: #CBB34A;
    background-color: #FFFFFF;
    border-color: #CBB34A;
  }
  
  