.landingWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 56px;
  margin-bottom: 56px;
  position: relative;
}

.right {
  flex: 1;
  position: relative;
}


.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  max-width: 900px;
}

.landingTitle {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 72px;
  color: #FFFFFF;
}

.introduction {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #e6e6e6;
}

.actionButtons {
  display: flex;
  gap: 12px;
}

.playButton {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 0.1em solid #CBB34A;
  margin: 0.1 0.3em 0.3em 0;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  color: #CBB34A;
  text-align: center;
  transition: all 0.2s;
}

.playButton:hover {
  color: #FFFFFF;
  background-color: #CBB34A;
}
