@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

.insContainer {
    border: 1px solid;
    border-color: rgba(74, 98, 203, 0.2);
    height: 73vh;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 14px;
    background: linear-gradient(to right, #050300, #0c1021);
    box-shadow: 1px #4a62cb;
    font-family: 'Anonymous Pro', monospace;
}

@media (max-width: 768px) {
    .insContainer {
        height: 50%;
        width: 80%;
    }
}