@font-face {
  font-family: 'MICROGBE';
  src: url('../public/fonts/micro-gbe.ttf') format('truetype');
}

body {
  background-color: black;
  font-size: 16px;
  color: azure;
  font-family: 'Quicksand', sans-serif;
}

div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 98%) 1fr;
  grid-template-rows: 96px auto 72px;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}