.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    font-family: MICROGBE;
  }
  
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fafafa;
  }

  .logoIm {
    width: 80px;
    height: 80px;
  }

  .logo span {
    color: #CBB34A;
  }
  
  .navigationMenu {
    display: flex;
    gap: 48px;
    color: #fafafa;
    font-weight: 700;
    letter-spacing: 2px;
  }